.pages {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.currentPage {
    border: 2px solid cadetblue;
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
}